# =========================
# IDE Files
# =========================
.idea/
.vscode/

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build Outputs
# =========================
dist/
build/
target/
out/

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc

# =========================
# IntelliJ
# =========================
*.iml

# =========================
# VS Code Workspace
# =========================
*.code-workspace